body {
  background-color: rgb(161, 174, 182);
  color: rgb(73, 80, 83);
  margin: 50px 10px;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  text-align: center;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
